header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem max(3%, 2rem);
    box-shadow: 0rem -.5rem 1rem .1rem var(--cs-dark-green);
    z-index: 10;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-name {
    font-size: 1.5rem;
    transform: translate(0rem, .1rem);
    font-weight: 500;
}

.top-nav {
    position: absolute;
    bottom: 0%;
    transform: translateY(100%);
    scale: 0 1;
    right: 0rem;
    padding: 1rem;
    transition: .3s scale ease-in;
    transform-origin:right center;
    background-color: white;
    border-radius: 0rem 0rem 1rem 1rem;
}

.top-nav.active {
    scale: 1 1;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: orange;
}

.mobile-toggle {
    display: grid;
    place-items: center;
    cursor: pointer;
}

.mobile-toggle > * {
    grid-row: 1/2;
    grid-column: 1/2;
    opacity: 0%;
}

.m-icon-menu {
    opacity: 0%;
    transition: .3s;
}

.m-icon-menu.active {
    opacity: 100%;
}

